@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@200;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,200;0,400;0,900;1,500&display=swap');
*{
    font-size: 62.5%; /* Ajuste de letra para utilizar el rem para el tamaño de letra */
    margin:0;
    padding: 0;
    
    /* font-family: 'Barlow Semi Condensed', sans-serif; */
}
body{
    width: 98vw;
    height: 98vh;
    background-image: radial-gradient(circle, #3a3959, #333353, #2d2d4e, #262748, #1f2143, #1c1e41, #181c3e, #15193c, #15193c, #15193c, #15193c, #15193c);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    justify-content: space-between;
}
/***************************************/
/***************HEADER******************/
/***************************************/
header{
    border: 2px solid gray;
    width: 70%;
    height: auto;
    box-sizing: border-box;
    padding: 10px 5% 30px 0;
    margin-top: 3%;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center ;
}

header .project{
    color: #FFFFFF;
    font-family: 'Barlow Semi Condensed', sans-serif; 
    font-weight: bolder;
    font-size: 2rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    display: block;
    width: 20%;
    height: 80%;
    text-align: start;
    padding-left: 5%;
    text-decoration: none;
}

header .menu{
    width: 80%;
    display: flex;
    justify-content: end;

}

header .menu ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    width: 70%;
}

header .menu ul li a{
    font-family: 'Barlow Semi Condensed', sans-serif; 
    font-size: 1.8rem;
    color: #FFFFFF;
    text-decoration: none;
}
/***************************************/
/*****************MAIN******************/
/***************************************/
main{
    height: auto;
    width: 70%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

main .up{
    height: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
}

main .up .up__circle{
    margin-top: 5%;
    border: 7px solid #f2a523;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    box-shadow:  7px 7px 14px #171724,
                 -7px -7px 14px #5d5b8e;
}

main .up .up__circle p{
    font-family: 'Barlow Semi Condensed', sans-serif; 
    font-size: 1.9rem;
    color: #171724;
}


main .center{
    height: 33%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

main .center .center__triangle{
    width: 140px;
    height: 140px;
    background-color: transparent;
    border: 0;
    background-position: center;
    background-image: url(../assets/images/triangle.png);
    background-size: cover;
    filter: drop-shadow(0 2px 15px #5d5b8e);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    
}

main .center .center__triangle p{
    margin-top: 25%;
    font-family: 'Barlow Semi Condensed', sans-serif; 
    font-size: 1.9rem;
    color: #171724;
}

main .center .center__square{
    border: 7px solid #d23e54;
    width: 110px;
    height: 110px;
    background: white;
    display: flex;
    align-items: center;
    text-decoration: none;
    justify-content: center;
    box-shadow:  7px 7px 14px #171724, -7px -7px 14px #5d5b8e;
}

main .center .center__square p{
    font-family: 'Barlow Semi Condensed', sans-serif; 
    font-size: 1.9rem;
    color: #171724;
}

main .down{
    height: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
}

main .down .down__diamond{
    border: 7px solid #8d5be5;
    width: 105px;
    height: 105px;
    transform: rotate(45deg);
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    box-shadow:  7px 7px 14px #171724,
                 -7px -7px 14px #5d5b8e;
}

main .down .down__diamond p{
    transform: rotate(-45deg);
    font-family: 'Barlow Semi Condensed', sans-serif; 
    font-size: 1.9rem;
    color: #171724;
}

/***************************************/
/*****************FOOTER****************/
/***************************************/
footer{
    width: 70%;
    height: 10%;
    box-sizing: border-box;
    display: flex;
    align-items: flex-end;
    padding-left: 5%;
    padding-right: 5%;

}

footer .foot__left{
    color: #FFFFFF;
    font-family: 'Barlow Semi Condensed', sans-serif; 
    font-size: 1.5rem;
    width: 50%;
    height: 40%;
    text-align: start;
}

footer .foot__right{
    color: #FFFFFF;
    font-family: 'Barlow Semi Condensed', sans-serif; 
    font-size: 1.5rem;
    width: 50%;
    height: 40%;
    text-align: end;
}
/***************************************/
/*****************FIGURAS***************/
/***************************************/
/*************HEADER FIGURAS************/
/***************************************/

header .title{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: end;
}

header .title h1{
    color: #FFFFFF;
    font-family: 'Barlow Semi Condensed', sans-serif; 
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 500;
}
/***************************************/
/***************MAIN FIGURAS************/
/***************************************/
.main__container{
    height: auto;
    width: 70%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/***************SQUARE************/
.main__container .square{
    margin-top: 50px;
    height: auto;
    width: 50%;
    border-radius: 10px;
    border: 2px solid gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0% 0 0% 0;
    box-sizing: border-box;
}



.main__container .square .square__up .square__title{
    width: 100%;
    text-align: center;
    margin-top: 10%;
    text-decoration-line: underline;
    color: #FFFFFF;
    font-family: 'Barlow Semi Condensed', sans-serif; 
    font-size: 2.3rem;
    font-weight: 400;
    margin-bottom: 10px;
}

.main__container .square .square__middle{
    width: 100%;
    display: flex;
    margin-top: 5%;
}


.main__container .square .square__middle .square__figure{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;   
}

.main__container .square .square__middle .square__figure figure{
    border: 7px solid #f2a523;
    height: 150px;
    width: 150px;
    box-sizing: border-box;
}

.main__container .square .square__middle .square__info{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 50%;
    align-items: center;

}

.main__container .square .square__middle .square__info .square__info-up{
    font-family: 'Barlow Semi Condensed', sans-serif; 
    font-size: 2rem;
    font-weight: 400;
    color: #FFFFFF;
    text-align: center;
    width: 70%;
}

.main__container .square .square__middle .square__info .square__info-down{
    margin-top: 5%; 
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 35px;
}

.main__container .square .square__middle .square__info .square__info-down p{
    font-family: 'Barlow Semi Condensed', sans-serif; 
    font-size: 2rem;
    font-weight: 400;
    color: #FFFFFF;
}

.main__container .square .square__middle .square__info .square__info-down input{
    font-family: 'Barlow Semi Condensed', sans-serif; 
    font-size: 2rem;
    font-weight: 400;
    width: 50%;
}

.main__container .square .square__down{
    width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
}

.main__container .square .square__down .square__result{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__container .square .square__down .square__result .square__area{
    width:70%;
    display: flex;
    justify-content: space-between;
}


.main__container .square .square__down .square__result .square__area p{
    font-family: 'Barlow Semi Condensed', sans-serif; 
    font-size: 2rem;
    font-weight: 400;
    color: #FFFFFF;
}

.main__container .square .square__down .square__result #AreaCuadrado{
    color: #f2a523;
}

.main__container .square .square__down .square__result .square__perimeter{
    width:70%;
    display: flex;
    justify-content: space-between;
}

.main__container .square .square__down .square__result .square__perimeter p{
    font-family: 'Barlow Semi Condensed', sans-serif; 
    font-size: 2rem;
    font-weight: 400;
    color: #FFFFFF;
}

.main__container .square .square__down .square__result .square__perimeter #PerimetroCuadrado{
    color: #f2a523;
}

.main__container .square .square__down .square__button{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 2% 0 2%;
    box-sizing: border-box;
}

.main__container .square .square__down .square__button button{
    font-family: 'Barlow Semi Condensed', sans-serif; 
    font-size: 2rem;
    width: 45%;
    height: 60%;  
}



/*************TRIANGLE************/
.main__container .triangle{
    margin-top: 50px;
    height: auto;
    width: 50%;
    border-radius: 10px;
    border: 2px solid gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.main__container .triangle .triangle__up{   
    width: 100%;
}

.main__container .triangle .triangle__up .triangle__title{
    color: #FFFFFF;
    font-family: 'Barlow Semi Condensed', sans-serif; 
    font-size: 2.3rem;
    font-weight: 400;
    text-align: center;
    margin-top: 10%;
    text-decoration-line: underline;
}

.main__container .triangle .triangle__middle{
    margin-top: 7%;
    width: 100%;
    display: flex;
}

.main__container .triangle .triangle__middle .triangle__figure-left{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__container .triangle .triangle__middle .triangle__figure-left figure{
    width: 80%;
    height: 80%;
    background-image: url(../assets/images/triangle_transp.png);
    background-size: contain;
    background-repeat: no-repeat;
}




.main__container .triangle .triangle__middle .triangle__info-right{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__container .triangle .triangle__middle .triangle__info-right .triangle__info{
    color: #FFFFFF;
    font-family: 'Barlow Semi Condensed', sans-serif; 
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
    margin-left: 12%;
    margin-right: 12%; 

}


.main__container .triangle .triangle__middle .triangle__info-right .triangle__side_one{
    margin-top: 5%;
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.main__container .triangle .triangle__middle .triangle__info-right .triangle__side_one p{
    color: #FFFFFF;
    font-family: 'Barlow Semi Condensed', sans-serif; 
    font-size: 2rem;
    font-weight: 400;
}
.main__container .triangle .triangle__middle .triangle__info-right .triangle__side_one input{
    width: 50%;
    height: 25px;
    font-family: 'Barlow Semi Condensed', sans-serif; 
    font-size: 2rem;
}

.main__container .triangle .triangle__middle .triangle__info-right .triangle__side_two{
    margin-top: 5%;
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.main__container .triangle .triangle__middle .triangle__info-right .triangle__side_two p{
    color: #FFFFFF;
    font-family: 'Barlow Semi Condensed', sans-serif; 
    font-size: 2rem;
    font-weight: 400;
}
.main__container .triangle .triangle__middle .triangle__info-right .triangle__side_two input{
    width: 50%;
    height: 25px;
    font-family: 'Barlow Semi Condensed', sans-serif; 
    font-size: 2rem;
}

.main__container .triangle .triangle__middle .triangle__info-right .triangle__side_base{
    margin-top: 5%;
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.main__container .triangle .triangle__middle .triangle__info-right .triangle__side_base p{
    color: #FFFFFF;
    font-family: 'Barlow Semi Condensed', sans-serif; 
    font-size: 2rem;
    font-weight: 400;
}
.main__container .triangle .triangle__middle .triangle__info-right .triangle__side_base input{
    width: 50%;
    height: 25px;
    font-family: 'Barlow Semi Condensed', sans-serif; 
    font-size: 2rem;
}

.main__container .triangle .triangle__middle .triangle__info-right .triangle__side_height{
    margin-top: 5%;
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.main__container .triangle .triangle__middle .triangle__info-right .triangle__side_height p{
    color: #FFFFFF;
    font-family: 'Barlow Semi Condensed', sans-serif; 
    font-size: 2rem;
    font-weight: 400;
}
.main__container .triangle .triangle__middle .triangle__info-right .triangle__side_height input{
    width: 50%;
    height: 25px;
    font-family: 'Barlow Semi Condensed', sans-serif; 
    font-size: 2rem;
}

.main__container .triangle .triangle__down{
    width: 100%;
    display: flex;
    margin-top: 5%;
    margin-bottom: 8%;
}

.main__container .triangle .triangle__down .triangue__results{
    width: 50%;
    padding: 0 8% 0 8%;
    box-sizing: border-box;
}

.main__container .triangle .triangle__down .triangue__results .triangle__area{
    display: flex;
    justify-content: space-between;
}

.main__container .triangle .triangle__down .triangue__results p{
    color: #FFFFFF;
    font-family: 'Barlow Semi Condensed', sans-serif; 
    font-size: 2rem;
    font-weight: 400;
}

.main__container .triangle .triangle__down .triangue__results #AreaTriangle{
    color: #5970fc;
}

.main__container .triangle .triangle__down .triangue__results .triangle__perimeter{
    display: flex;
    justify-content: space-between;
}

.main__container .triangle .triangle__down .triangue__results #PerimeterTriangle{
    color: #5970fc;
}



.main__container .triangle .triangle__down .triangle__buttons{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 2% 0 2%;
    box-sizing: border-box;
}

.main__container .triangle .triangle__down .triangle__buttons button{
    font-family: 'Barlow Semi Condensed', sans-serif; 
    font-size: 2rem;
    width: 45%;
    height: 60%;  

}

/*************CIRCLE************/
.main__container .circle{
    margin-top: 50px;
    height: auto;
    width: 50%;
    border-radius: 10px;
    border: 2px solid gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.main__container .circle .circle__up{
    width: 100%;
    display: flex;
    justify-content: center;
}

.main__container .circle .circle__up .circle__title{
    color: #FFFFFF;
    font-family: 'Barlow Semi Condensed', sans-serif; 
    font-size: 2.3rem;
    font-weight: 400;
    text-align: center;
    margin-top: 10%;
    text-decoration-line: underline;
}

.main__container .circle .circle__middle{
    width: 100%;
    display: flex;
    margin-top: 10%;
}

.main__container .circle .circle__middle .circle__figure{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main__container .circle .circle__middle .circle__figure figure{
    border: 8px solid #d23e54;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.main__container .circle .circle__middle .circle__info{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;   
}

.main__container .circle .circle__middle .circle__info .circle__info-up{
    color: #FFFFFF;
    font-family: 'Barlow Semi Condensed', sans-serif; 
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
    width: 70%;
}

.main__container .circle .circle__middle .circle__info .circle__info-down{
    width: 75%;
    display: flex;
    justify-content: space-between;
    margin-top: 10%;
}

.main__container .circle .circle__middle .circle__info .circle__info-down p{
    color: #FFFFFF;
    font-family: 'Barlow Semi Condensed', sans-serif; 
    font-size: 2rem;
    font-weight: 400;
}

.main__container .circle .circle__middle .circle__info .circle__info-down input{
    font-family: 'Barlow Semi Condensed', sans-serif; 
    font-size: 2rem;
    font-weight: 400;
    width: 50%;
}


.main__container .circle .circle__down{
    width: 100%;
    display: flex;
    margin-top: 5%;
    margin-bottom: 5%;
    
}

.main__container .circle .circle__result{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__container .circle .circle__result .circle__area{
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.main__container .circle .circle__result .circle__area p{
    color: #FFFFFF;
    font-family: 'Barlow Semi Condensed', sans-serif; 
    font-size: 2rem;
    font-weight: 400;
}

.main__container .circle .circle__result .circle__area #AreaCircle{
    color: #d23e54;
}



.main__container .circle .circle__result .circle__petimeter{
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.main__container .circle .circle__result .circle__petimeter p{
    color: #FFFFFF;
    font-family: 'Barlow Semi Condensed', sans-serif; 
    font-size: 2rem;
    font-weight: 400;
}

.main__container .circle .circle__result .circle__petimeter #PerimeterCircle{
    color: #d23e54;
}


.main__container .circle .circle__buttons{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 2% 0 2%;
    box-sizing: border-box;
}

.main__container .circle .circle__buttons button{
    font-family: 'Barlow Semi Condensed', sans-serif; 
    font-size: 2rem;
    width: 45%;
    height: 60%;  
}
/***************************************/
/***************PROMEDIOS***************/
/***************************************/
/***************************************/
/***************************************/
.cards__container{
    margin-top: 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
    box-sizing: border-box;
}

.cards__container article{
    width: 30%;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    padding: 3%;
    box-sizing: border-box;
}

.cards__container article h3{
    color: #FFFFFF;
    font-family: 'Barlow Semi Condensed', sans-serif; 
    font-size: 2.3rem;
    font-weight: 400;
    margin-top: 10%;
    text-decoration-line: underline;
    text-align: center;
}

.cards__container article p{
    color: #FFFFFF;
    font-family: 'Barlow Semi Condensed', sans-serif; 
    font-size: 2rem;
    font-weight: 300;
    margin-top: 10%;
}

.cards__container article input{
    font-family: 'Barlow Semi Condensed', sans-serif; 
    font-size: 2rem;
    font-weight: 400;
    width: 100%;
    height: 40px;
    margin-top: 10%;
    align-self: center;
}

.cards__container article button{
    font-family: 'Barlow Semi Condensed', sans-serif; 
    font-size: 2rem;
    width: 80%;
    height: 40px;
    margin-top: 10%;
    border-radius: 50px;
    border: 1px solid #FFFFFF;
    align-self: center;
    background-color: #FFFFFF;
    color: #000000;
}

.cards__container .promedio__card{
    background-color: rgb(227, 136, 38, 0.2);
    border: 2px solid rgb(227, 136, 38);
    border-radius: 5%;
    display: flex;
    flex-direction: column;
}

.cards__container .promedio__card .promedio__out{
    font-family: 'Barlow Semi Condensed', sans-serif; 
    font-size: 2.5rem;
    font-weight: 500;
    color: #ffffff;
    width: auto;
    height: auto;
    align-self: center;

}

.cards__container .mediana__card{
    background-color: rgb(0, 105, 112, 0.2);
    border: 2px solid rgb(0, 105, 112);
    border-radius: 5%;
    display: flex;
    flex-direction: column;
}

.cards__container .mediana__card .mediana__out{
    font-family: 'Barlow Semi Condensed', sans-serif; 
    font-size: 2.5rem;
    font-weight: 500;
    color: #ffffff;
    width: auto;
    height: auto;
    align-self: center;

}

.cards__container .moda__card{
    background-color: rgb(0, 66, 65, 0.2);
    border: 2px solid rgb(0, 66, 65);
    border-radius: 5%;
    display: flex;
    flex-direction: column;
}

.cards__container .moda__card .moda__out{
    font-family: 'Barlow Semi Condensed', sans-serif; 
    font-size: 2.5rem;
    font-weight: 500;
    color: #ffffff;
    width: auto;
    height: auto;
    align-self: center;

}
/***************************************/
/***************SALARIOS****************/
/***************************************/
/***************************************/
/***************************************/
.card__wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;

}

/*************Anual Card****************/
.anual__card{
    background-color: rgb(255, 255, 255, 0.05);
    border: 2px solid gray;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
}

.anual__card .anual__up{
    margin-top: 10%;
}

.anual__card .anual__up h3{
    color: #FFFFFF;
    font-family: 'Barlow Semi Condensed', sans-serif; 
    font-size: 2.3rem;
    font-weight: 400;
    text-align: center;
    text-decoration-line: underline;
}


.anual__card .anual__middle{
    width: 80%;
    display: flex;
    margin-top: 5%;
    justify-content: space-between;
}

.anual__card .anual__middle p{
    color: #FFFFFF;
    font-family: 'Barlow Semi Condensed', sans-serif; 
    font-size: 2rem;
    font-weight: 300;
    text-align: center;
}

.anual__card .anual__middle select{
    font-family: 'Barlow Semi Condensed', sans-serif; 
    font-size: 2rem;
    font-weight:400;
    text-align: center;
}

.anual__card .anual__down{
    display: flex;
    width: 80%;
    margin-top: 5%;
    margin-bottom: 10%;
    justify-content: space-between; 
    align-items: center;

}

.anual__card .anual__down p{
    color: #FFFFFF;
    font-family: 'Barlow Semi Condensed', sans-serif; 
    font-size: 2rem;
    font-weight: 300;
    
}

/*************Salario Card****************/
.salario__card{
    background-color: rgb(255, 255, 255, 0.05);
    border: 1px solid gray;
    margin-top: 5%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
}

.salario__card .salario__title{
    margin-top: 10%;
}

.salario__card .salario__title h3{
    color: #FFFFFF;
    font-family: 'Barlow Semi Condensed', sans-serif; 
    font-size: 2.3rem;
    font-weight: 400;
    text-align: center;
    text-decoration-line: underline;
}

.salario__card .salario__info{
    width: 80%;
    display: flex;
    margin-top: 5%;
}

.salario__card .salario__info .salario__info-left{
    width: 70%;
}

.salario__card .salario__info .salario__info-left p{
    color: #FFFFFF;
    font-family: 'Barlow Semi Condensed', sans-serif; 
    font-size: 2rem;
    font-weight: 300;
    margin-top: 8%;
}

.salario__card .salario__info .salario__info-right{
    width: 30%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 5%;
}

.salario__card .salario__info .salario__info-right input{
    width: 100%;
    box-sizing: border-box;
    height: 30px;
    font-family: 'Barlow Semi Condensed', sans-serif; 
    font-size: 2rem;
    font-weight: 400;

}

.salario__card .salario__button{
    width: 80%;
    display: flex;
    margin-top: 5%;
    justify-content: center;
}

.salario__card .salario__button button{
    width: 40%;
    height: 30px;
    font-family: 'Barlow Semi Condensed', sans-serif; 
    font-size: 2rem;
    border-radius: 15px;
    border: 2px solid transparent;
}

.salario__card .salario__result{
    margin-top: 5%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10%;
    
}

.salario__card .salario__result .salario__result-up{
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}

.salario__card .salario__result .salario__result-up p{
    color: #FFFFFF;
    font-family: 'Barlow Semi Condensed', sans-serif; 
    font-size: 2rem;
    font-weight: 300;

}

.salario__card .salario__result .salario__result-down{
    width: 100%;
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
}

.salario__card .salario__result .salario__result-down p{
    color: #FFFFFF;
    font-family: 'Barlow Semi Condensed', sans-serif; 
    font-size: 2rem;
    font-weight: 300;
}

/*************Salarios Promedio****************/
.sal-promedios__card{
    background-color: rgb(255, 255, 255, 0.05);
    border: 1px solid gray;
    width: 50%;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    margin-bottom: 5%;
}

.sal-promedios__card .sal-promedios__title{
    margin-top: 5%;
}

.sal-promedios__card .sal-promedios__title h3{
    color: #FFFFFF;
    font-family: 'Barlow Semi Condensed', sans-serif; 
    font-size: 2.3rem;
    font-weight: 400;
    text-align: center;
    text-decoration-line: underline;    
}

.sal-promedios__card .sal-promedios__in{
    width: 80%;
    align-self: center;
    margin-top: 5%;
    

}

.sal-promedios__card .sal-promedios__in .sal-promedios__in-up{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sal-promedios__card .sal-promedios__in .sal-promedios__in-up .sal-promedios_in-up-data{
    display: flex;
    justify-content: space-between;
}

.sal-promedios__card .sal-promedios__in .sal-promedios__in-up .sal-promedios_in-up-data p{
    color: #FFFFFF;
    font-family: 'Barlow Semi Condensed', sans-serif; 
    font-size: 2rem;
    font-weight: 300;
    align-self: center;
    width: 50%;
}

.sal-promedios__card .sal-promedios__in .sal-promedios__in-up .sal-promedios_in-up-data input{
    font-family: 'Barlow Semi Condensed', sans-serif; 
    font-size: 2rem;
    font-weight: 400;
    height: 30px;
    width: 30%;
    
}

.sal-promedios__card .sal-promedios__in .sal-promedios__in-up .sal-promedios_in-up-data button{
    font-family: 'Barlow Semi Condensed', sans-serif; 
    font-size: 2rem;
    font-weight: 300;
    height: 25px;
    width: 25px;
    align-self: center;
}

.sal-promedios__card .sal-promedios__in .sal-promedios__in-up .sal-promedios_in-up-data .button__enviar{
    background: url(../assets/icons/submit.png);
    background-size: cover;
    background-color: transparent;
    border: transparent;
}

.sal-promedios__card .sal-promedios__in .sal-promedios__in-up .sal-promedios_in-up-data .button__limpiar{
    background: url(../assets/icons/return.png);
    background-size: cover;
    background-color: transparent;
    border: transparent;
}

.sal-promedios__card .sal-promedios__in .sal-promedios__in-up .sal-promedios_in-up-message{
    display: flex;
}

.sal-promedios__card .sal-promedios__in .sal-promedios__in-up .sal-promedios_in-up-message p{
    font-family: 'Barlow Semi Condensed', sans-serif; 
    font-size: 2rem;
    font-weight: 300;
    width: 100%;
    color : rgb(255,105,97);
    text-align: center;
}


.sal-promedios__card .sal-promedios__in .sal-promedios__in-down{
    margin-top: 3%;
    display: flex;
    flex-direction: column;
}

.sal-promedios__card .sal-promedios__in .sal-promedios__in-down .sal-promedios__in-down-data{
    display: flex;

}

.sal-promedios__card .sal-promedios__in .sal-promedios__in-down .sal-promedios__in-down-data p{
    color: #FFFFFF;
    font-family: 'Barlow Semi Condensed', sans-serif; 
    font-size: 2rem;
    font-weight: 300;
    align-self: center;
    margin-right: 10.5%;

}





.sal-promedios__card .sal-promedios__in .sal-promedios__in-down .sal-promedios__in-down-data input{
    font-family: 'Barlow Semi Condensed', sans-serif; 
    font-size: 2rem;
    font-weight: 400;
    height: 30px;
    width: 30%;
    margin-right: 2%;
    display: none;

    
}

.sal-promedios__card .sal-promedios__in .sal-promedios__in-down .sal-promedios__in-down-data button{
    font-family: 'Barlow Semi Condensed', sans-serif; 
    font-size: 2rem;
    font-weight: 300;
    height: 25px;
    width: 25px;
    align-self: center;
}

.sal-promedios__card .sal-promedios__in .sal-promedios__in-down .sal-promedios__in-down-message{
    display: flex;
}

.sal-promedios__card .sal-promedios__in .sal-promedios__in-down .sal-promedios__in-down-message p{
    font-family: 'Barlow Semi Condensed', sans-serif; 
    font-size: 2rem;
    font-weight: 300;
    width: 100%;
    color : rgb(255,105,97);
    text-align: center;
}




.sal-promedios__card .sal-promedios__in .sal-promedios__in-down .button__enviar{
    background: url(../assets/icons/submit.png);
    background-size: cover;
    background-color: transparent;
    border: transparent;
}

.sal-promedios__card .sal-promedios__buttons{
    margin-top: 8%;
    width: 80%;
    align-self: center;
    display: flex;
    justify-content: space-between;
}

.sal-promedios__card .sal-promedios__buttons button{
    font-family: 'Barlow Semi Condensed', sans-serif; 
    font-size: 2rem;
    font-weight: 400;
    height: 35px;
    width: 30%;
    align-self: center;
    border-radius: 20px;
    border: 1px solid transparent;
}

.sal-promedios__card .sal-promedios__result{
    width: 80%;
    align-self: center;
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10%;
}

.sal-promedios__card .sal-promedios__result p{
    color: #FFFFFF;
    font-family: 'Barlow Semi Condensed', sans-serif; 
    font-size: 2rem;
    font-weight: 300;
    
}
/***************************************/
/***************DESCUENTOS**************/
/***************************************/
/***************************************/
/***************************************/

.project__container{
    width: 70%;
    display: flex;

}

.project__container .find__container{
    display: flex;
    flex-direction: column;
    margin-top: 8%;
    width: 90%;
    align-self: center;
}

.project__container .find__container input{
    font-family: 'Barlow Semi Condensed', sans-serif; 
    font-size: 2rem;
    font-weight: 400;
    background-color: transparent;
    border: 1px solid gray;
}

.project__container .find__container button{
    font-family: 'Barlow Semi Condensed', sans-serif; 
    font-size: 2rem;
    font-weight: 400;
    border: 1px solid gray;
}

.project__container .find__container .find{
    height: 40px;
    display: flex;
    justify-content: space-between;
}

.project__container .find__container .find input{
    width:79%;
    border-radius: 15px;
    height: 100%;
    margin-top: 0;
    color: #FFFFFF; 
    padding-left: 5px;
}

.project__container .find__container .find button{
    font-family: 'Barlow Semi Condensed', sans-serif; 
    font-size: 2.3rem;
    font-weight: 400;
    width: 19%;
    height: 100%;   
    border-radius: 5px;
}

.project__container .find__container .descount{
    margin-top: 1%;
    height: 40px;
    width: 40%;
    align-self: flex-end;
    justify-content: space-between;
    display: flex;
}

.project__container .find__container .descount input{
    width: 48%;
    border-radius: 15px;
    height: 100%;
    margin-top: 0;
    color: #FFFFFF; 
    padding-left: 5px;
}

.project__container .find__container .descount button{
    font-family: 'Barlow Semi Condensed', sans-serif; 
    font-size: 2.3rem;
    font-weight: 400;
    width: 47%;
    height: 100%;   
    border-radius: 5px;
}

.project__container .products__container{
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 7%;

}

.project__container .products__container article{
    margin: 1%;
    margin-top: 5%;
    width: 15%;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    -webkit-box-shadow: 0px 0px 0px 0px rgb(255,255,255, 0.5);
    -moz-box-shadow: 0px 0px 0px 0px rgb(255, 255, 255, 0.5);
    box-shadow: 0px 1px 6px -1px rgb(255,255,255,0.5);
}

.project__container .products__container article img{
    width: 100%;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.project__container .products__container article h3{
    font-family: 'Barlow Semi Condensed', sans-serif; 
    font-size: 2rem;
    font-weight: 400;
    color: #FFFFFF;
    margin-left: 5%;
    margin-bottom: 10%;
}

.project__container .products__container article p{
    font-family: 'Barlow Semi Condensed', sans-serif; 
    font-size: 1.7rem;
    font-weight: 300;
    color: #FFFFFF;
    
    margin-left: 5%;
}

.project__container .products__container article .outPrecio{
    margin-bottom: 5%;
}