@media screen and (max-width: 768px){
    body{
        height: 130vh;
    }
    header {
        height: auto;
        padding: 10px 5% 10px 0;
    }

    header .project{
        display: flex;
        align-items: center;
    }

    header .menu{
        justify-content: end;
    
    }

    header .menu ul{
        display: flex;
        flex-direction: column;
        width: auto;
        align-items: flex-end;
    }
    main .up{
        height: 25%;
        padding-right: 10%;
        justify-content: flex-end;
    }
    
    main .center{
        flex-direction: column;
        height: 50%;
        padding-left: 10%;
        padding-right: 10%;
        padding-bottom: 10%;
    }

    main .center .center__triangle{
        align-self: flex-start;
    }


    main .center .center__square{
        align-self: flex-end;
    }


    main .down{
        height: 25%;
        padding-left: 10%;
        justify-content: flex-start;
    }
    
}

@media screen and (max-width: 500px){

    main .up .up__circle{
        margin-bottom: 20px;
        margin-top: 100px;
    }
    main .up .up__triangle{
        margin-bottom: 100px;
    }
    main .up .up__square{
        margin-bottom: 100px;
    }
    main .up .up__circle{
        margin-bottom: 100px;
    }   
}

@media screen and (max-width: 1100px){
    /************FIGURAS**************/
    /************SQUARE**************/
    /********************************/
    .main__container .square .square__middle{
        flex-direction: column;
        align-items: center;
    }

    .main__container .square .square__middle .square__info{
        width: 90%;
        margin-top: 5%;
    }

    .main__container .square .square__down{
        align-items: center;
        flex-direction: column-reverse;
        margin-top: 5%;
        height: auto;
    }

    .main__container .square .square__down .square__button{
        height: 50px;
        width: 80%;
    }

    .main__container .square .square__down .square__result{
        height: 50px;
        width: 50%;
        flex-direction: row;
        align-items: center;
    }

    /************TRIANGLE**************/
    .main__container .triangle .triangle__middle{
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .main__container .triangle .triangle__middle .triangle__figure-left{
        height: 230px;
        align-items: center;
        width: 80%;
        display: flex;  
        align-items: center;
    }

    .main__container .triangle .triangle__middle .triangle__figure-left figure{
        background-position: center;
    }

    .main__container .triangle .triangle__middle .triangle__info-right {
        width: 80%;
    }

    .main__container .triangle .triangle__middle .triangle__info-right .triangle__side_one{
        margin-top: 10%;
        width: 100%;
    }

    .main__container .triangle .triangle__middle .triangle__info-right .triangle__side_two{
        width: 100%;
    }

    .main__container .triangle .triangle__middle .triangle__info-right .triangle__side_base{
        width: 100%;
    }

    .main__container .triangle .triangle__middle .triangle__info-right .triangle__side_height{
        width: 100%;
    }
    
    .main__container .triangle .triangle__down{
        flex-direction: column-reverse;
        align-items: center;
    }
    
    .main__container .triangle .triangle__down .triangle__buttons{
        width: 80%;
        height: 50px;
        justify-content: space-between;
    }

    .main__container .triangle .triangle__down .triangue__results{
        margin-top: 5%;
        display: flex;
        width: 80%;
        justify-content: space-around;
    }

    /************CIRCLE**************/
    .main__container .circle .circle__middle{
        flex-direction: column;
        align-items: center;
    }

    .main__container .circle .circle__middle .circle__info{
        width:  80%;
        margin-top: 5%;
    }

    .main__container .circle .circle__down{
        flex-direction: column-reverse;
        width: 80%;
        align-items: center;
    }

    .main__container .circle .circle__down .circle__buttons{
        width: 80%;
        height: 50px;
        justify-content: space-between;
    }

    .main__container .circle .circle__down .circle__buttons button{
        width: auto;
        
    }

    .main__container .circle .circle__down .circle__result{
        flex-direction: row;
        justify-content: space-between;
        margin-top: 5%;
    }

    /************PROMEDIOS (1100)**************/
    .cards__container article button{
        height: auto;
    }

}

@media screen and (max-width: 900px){
    .main__container .square{
        width: 80%;
    }
    .main__container .triangle{
        width: 80%;
    }
    .main__container .circle{
        width: 80%;
    }
}

@media screen and (max-width: 600px){


    .main__container .square{
        width: 100%;
    }
    .main__container .triangle{
        width: 100%;
    }
    .main__container .circle{
        width: 100%;
    }
}


@media screen and (max-width: 500px){

    header .title h1{
        font-family: 'Barlow Semi Condensed', sans-serif; 
        font-size: 2.5rem;
    }
}

@media screen and (max-width: 450px){

    header .title h1{
        font-family: 'Barlow Semi Condensed', sans-serif; 
        font-size: 2rem;
    }
}


   /************PROMEDIOS*************/
   /**********************************/
   /**********************************/
@media screen and (max-width: 1100px){
   .cards__container article button{
    height: auto;
    }
}

@media screen and (max-width: 800px){
    .cards__container{
        flex-direction: column;
        align-items: center;
    }

    .cards__container article{
        width: 50%;
    }

    .cards__container article button{
        height: 50px;
    }
    .cards__container .promedio__card{
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        margin-top: 10%;
    }
    .cards__container .mediana__card{
        border-radius: 0;
    }
    .cards__container .moda__card{
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        margin-bottom: 10%;
    }
 }

 @media screen and (max-width: 600px){

    .cards__container article{
        width: 70%;
    }

 }

 @media screen and (max-width: 400px){

    .cards__container article{
        width: 90%;
    }

    .cards__container article input{
        width: 80%;
    }

 }
    /************SALARIOS*************/
   /**********************************/
   /**********************************/
   @media screen and (max-width: 1200px){
    .card__wrapper .anual__card{
        width: 70%;
     }

    .card__wrapper .salario__card{
        width: 70%;
    }

    .card__wrapper .sal-promedios__card{
        width: 70%;
    }
 }

 @media screen and (max-width: 900px){
    .card__wrapper .anual__card{
        width: 80%;
     }

    .card__wrapper .salario__card{
        width: 80%;
    }

    .card__wrapper .sal-promedios__card{
        width: 80%;
    }
 }

 @media screen and (max-width: 760px){
    .card__wrapper .anual__card{
        width: 100%;
     }

    .card__wrapper .salario__card{
        width: 100%;
    }

    .card__wrapper .sal-promedios__card{
        width: 100%;
    }
 }

 @media screen and (max-width: 760px){
    .card__wrapper{
        width: 90%;
     }
 }

 @media screen and (max-width: 440px){
    .card__wrapper{
        width: 100%;
     }
 }

 @media screen and (max-width: 400px){
    .card__wrapper .salario__card .salario__button button{
        width: 60%;
        height: auto;
     }

    .sal-promedios__card .sal-promedios__buttons button{
        height: auto;
    }
 }